.git
.github
.gitignore
.env
.env.example
.pytest_cache
.ruff_cache
__pycache__
*.py[cod]
*.egg-info

tests/
scripts/
training/
images/
data/
!data/legal_docs
data/legal_docs/*
!data/legal_docs/.gitkeep
!data/legal_docs/*.md

*.gguf
*.ipynb
*.md
!README.md

Modelfile
docker-compose.yml
Dockerfile
.dockerignore

.DS_Store
.idea
.vscode
